<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 任务书业务流程 -->

	<bean id="paperWritingTaskAction"
		class="net.dqsy.papermg.papermanager.action.PaperWritingTaskAction">
		<property name="paperWritingTaskService">
			<ref bean="paperWritingTaskService" />
		</property>
	</bean>

	<bean id="paperWritingTaskService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperWritingTaskServiceImpl">
		<property name="paperTitleService">
			<ref bean="paperTitleService" />
		</property>
		<property name="paperPlanService">
			<ref bean="paperPlanService" />
		</property>
		<property name="paperWritingTaskDAO">
			<ref bean="paperWritingTaskDAO" />
		</property>
	</bean>

	<bean id="paperWritingTaskDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperWritingTaskDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- 任务书计划业务流程 -->

	<bean id="paperPlanAction" class="net.dqsy.papermg.papermanager.action.PaperPlanAction">
		<property name="paperPlanService">
			<ref bean="paperPlanService" />
		</property>
	</bean>

	<bean id="paperPlanService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperPlanServiceImpl">
		<property name="paperPlanDAO">
			<ref bean="paperPlanDAO" />
		</property>
	</bean>

	<bean id="paperPlanDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperPlanDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- 开题报告业务流程 -->

	<bean id="paperThesisProposalAction"
		class="net.dqsy.papermg.papermanager.action.PaperThesisProposalAction">
		<property name="paperThesisProposalService">
			<ref bean="paperThesisProposalService" />
		</property>
	</bean>
	<bean id="paperThesisProposalService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperThesisProposalServiceImpl">
		<property name="paperTitleService">
			<ref bean="paperTitleService" />
		</property>
		<property name="paperThesisProposalDAO">
			<ref bean="paperThesisProposalDAO" />
		</property>
	</bean>
	<bean id="paperThesisProposalDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperThesisProposalDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- 指导记录业务流程 -->

	<bean id="paperGuidancerecordAction"
		class="net.dqsy.papermg.papermanager.action.PaperGuidancerecordAction">
		<property name="paperGuidancerecordService">
			<ref bean="paperGuidancerecordService" />
		</property>
	</bean>
	<bean id="paperGuidancerecordService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperGuidancerecordServiceImpl">
		<property name="paperTitleService">
			<ref bean="paperTitleService" />
		</property>
		<property name="paperGuidancerecordDAO">
			<ref bean="paperGuidancerecordDAO" />
		</property>
	</bean>
	<bean id="paperGuidancerecordDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperGuidancerecordDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- 中期检查业务流程 -->

	<bean id="paperMidcheckAction"
		class="net.dqsy.papermg.papermanager.action.PaperMidcheckAction">
		<property name="paperMidcheckService">
			<ref bean="paperMidcheckService" />
		</property>
	</bean>
	<bean id="paperMidcheckService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperMidcheckServiceImpl">
		<property name="paperTitleService">
			<ref bean="paperTitleService" />
		</property>
		<property name="paperMidcheckDAO">
			<ref bean="paperMidcheckDAO" />
		</property>
	</bean>
	<bean id="paperMidcheckDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperMidcheckDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- 申请答辩业务流程 -->

	<bean id="paperApplyAction"
		class="net.dqsy.papermg.papermanager.action.PaperApplyAction">
		<property name="paperApplyService">
			<ref bean="paperApplyService" />
		</property>
	</bean>
	<bean id="paperApplyService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperApplyServiceImpl">
		<property name="paperTitleService">
			<ref bean="paperTitleService" />
		</property>
		<property name="paperApplyDAO">
			<ref bean="paperApplyDAO" />
		</property>
	</bean>
	<bean id="paperApplyDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperApplyDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- 题目业务流程 -->

	<bean id="paperTitleAction"
		class="net.dqsy.papermg.papermanager.action.PaperTitleAction">
		<property name="paperTitleService">
			<ref bean="paperTitleService" />
		</property>
	</bean>
	<bean id="paperTitleService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperTitleServiceImpl">
		<property name="paperTitleStateService">
			<ref bean="paperTitleStateService" />
		</property>
		<property name="paperTitleDAO">
			<ref bean="paperTitleDAO" />
		</property>
		<property name="paperStudentService">
			<ref bean="paperStudentService" />
		</property>
		<property name="paperTeacherService">
			<ref bean="paperTeacherService" />
		</property>
	</bean>
	<bean id="paperTitleDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperTitleDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- 题目状态业务流程 -->

	<bean id="paperTitleStateService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperTitleStateServiceImpl">
		<property name="paperTitleStateDAO">
			<ref bean="paperTitleStateDAO" />
		</property>
	</bean>
	<bean id="paperTitleStateDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperTitleStateDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<bean id="paperCouncilAction"
		class="net.dqsy.papermg.papermanager.action.PaperCouncilAction">
		<property name="paperCouncilService">
			<ref bean="paperCouncilService" />
		</property>
	</bean>
	<bean id="paperCouncilService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperCouncilServiceImpl">
		<property name="paperCouncilDAO">
			<ref bean="paperCouncilDAO" />
		</property>
		<property name="paperCouncilmanDAO">
			<ref bean="paperCouncilmanDAO" />
		</property>
		<property name="paperTeacherService">
			<ref bean="paperTeacherService" />
		</property>
		<property name="paperUserRoleService">
			<ref bean="paperUserRoleService" />
		</property>
		<property name="paperUserService">
			<ref bean="paperUserService" />
		</property>
		<property name="paperRoleService">
			<ref bean="paperRoleService" />
		</property>		
	</bean>
	<bean id="paperCouncilDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperCouncilDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	
	<bean id="paperCouncilmanDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperCouncilmanDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="paperRecordDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperRecordDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="paperRecordService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperRecordServiceImpl">
		<property name="paperRecordDAO">
			<ref bean="paperRecordDAO" />
		</property>
		<property name="paperTitleDAO">
			<ref bean="paperTitleDAO" />
		</property>
	</bean>
	<bean id="paperRecordAction"
		class="net.dqsy.papermg.papermanager.action.PaperRecordAction">
		<property name="paperRecordService">
			<ref bean="paperRecordService" />
		</property>
	</bean>

	<bean id="paperScoreDAO"
		class="net.dqsy.papermg.papermanager.dao.impl.PaperScoreDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="paperScoreService"
		class="net.dqsy.papermg.papermanager.service.impl.PaperScoreServiceImpl">
		<property name="paperScoreDAO">
			<ref bean="paperScoreDAO" />
		</property>
		<property name="paperTitleDAO">
			<ref bean="paperTitleDAO" />
		</property>
	</bean>
	<bean id="paperScoreAction"
		class="net.dqsy.papermg.papermanager.action.PaperScoreAction">
		<property name="paperScoreService">
			<ref bean="paperScoreService" />
		</property>
	</bean>

</beans>